<p># B_R_R
<p># M_S_A_W




<!DOCTYPE html>
<html lang='en-US'>
<head>
<title>My Blog of IT</title>
<body>
<hr>
<a href="{{url_for('home')}}">Home</a>
{% block content %}


{% endblock %}

</body>
</head>
</html>


